$green: #5fa616;
$orange: #f76800;
$blue: #1b9edf;
$violet: #d40073;
$headerColor: #556677;
$textColor: #00496e;
$footerTextColor: #949798;
*{
    margin: 0px;
    padding: 0px;
    font-family: "Lato" ,sans-serif;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: black;
}
header{
    .head{
        max-height: 85vh;
        overflow: hidden;
        position: relative;
        img{
            object-fit: cover;
            width: 100%;
        }
        #mImg1{
            position: absolute;
            left: 0px;
            top: 0px;
            display: none;
        }
        #mImg2{
            position: absolute;
            left: 0px;
            top: 0px;
            display: none;
        }
        #mImg3{
            position: absolute;
            left: 0px;
            top: 0px;
            display: none;
        }
        #mImg4{
            position: absolute;
            left: 0px;
            top: 0px;
            display: none;
        }
        p {
            position: absolute;
            top: 30%;
            color: white;
            font-size: 3rem;
            max-width: 300px;
            font-weight: bold;
            left: 50%;
        }
    }
    .menu{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        a{
            text-decoration: none;
            color: white;
            font-size: 2rem;
            padding: 15px 50px;
        }
        .move{
            position: relative;
        }
        .menu1{
            background-color: $green;
            &:hover{
                .move{
                    transition: all 1s ease;
                    transform: translateX(10px);
                    opacity: 1;
                }
            }
        }
        .menu2{
            background-color: $blue;
            &:hover{
                .move{
                    transition: all 1s ease;
                    transform: translateX(10px);
                    opacity: 1;
                }
            }
        }
        .menu3{
            background-color: $orange;
            &:hover{
                .move{
                    transition: all 1s ease;
                    transform: translateX(10px);
                    opacity: 1;
                }
            }
        }
        .menu4{
            background-color: $violet;
            &:hover{
                .move{
                    transition: all 1s ease;
                    transform: translateX(10px);
                    opacity: 1;
                }
            }
        }
    }
}
.shade{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    background-color: white;
    display: none;
}
nav{
    display: grid;
    grid-template-columns: 2fr 8fr 1fr 1fr;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    align-items: center;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.1);
    .logoWrap{
        border-right: 1px solid white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: white;
        height: 100%;
        img{
            height: 30px;
            padding-right: 20px;
        }
    }
    ul{
        display: flex;
        align-content: flex-end;
        justify-content: flex-end;
        align-items: center;
        border-right: 1px solid white;
        height: 60px;
        li{
            margin-right: 20px;
            padding: 5px;
            list-style-type: none;
            text-transform: uppercase;
            font-size: 0.8rem;
            &:last-of-type{
                border: 2px solid black;
            }
        }
    }
    .countriesWrap{
        border-right: 1px solid white;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .burger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 21px;
        margin-left: 20px;
        cursor: pointer;
        div{
            width: 30px;
            height: 3px;
            background-color: $headerColor;
        }
    }
}
.hiddenMenu{
    position: fixed;
    width: 0%;
    height: 100%;
    top: 60px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.97);
    transition: width 500ms;
    ul{
        padding-top: 15px;
        hr{
            color:$textColor;
            opacity: 0.5;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        list-style-type: none;
        li{
            padding: 15px;
            padding-left: 30px;
            &:hover{
                text-decoration: underline;
                .move{
                    transition: all 1s ease;
                    transform: translateX(10px);
                    opacity: 1;
                }
            }
            a{
                color: $textColor;
                text-transform: uppercase;
            }
            .colorBlue{
                color: $blue;
            }
            .colorOrange{
                color: $orange;
            }
            .colorGreen{
                color: $green;
            }
            .colorViolet{
                color: $violet;
            }
        }
    }
}
.showWidth{
    width: 30%;
}
.contentTop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $textColor;
    h1{
        font-size: 3.3rem;
        padding-top: 3rem;
        font-weight: normal;
    }
    .iconsWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1500px;
        .iconWrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 4rem;
            h2{
                padding-top: 1rem;
                padding-bottom: 0.5rem;
                font-size: 2rem;
                font-weight: bold;
            }
            p{
                text-align: center;
                font-size: 1.3rem;
                font-weight: 100;
                max-width: 300px;
            }
        }
    }
}
.content{
    display: flex;
    &:nth-of-type(odd){
        justify-content: flex-end;
    }
    .imgWrap{
        max-height: 800px;
        max-width: 800px;
        overflow: hidden;
        margin-left: 20px;
        margin-right: 20px;
        img{
            object-fit: cover;
            max-width: 800px;
            max-height: 800px;
        }
    }
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 100px;
        padding-left: 50px;
        color: $textColor;
        h3{
            font-size: 3rem;
            font-weight: 900;
        }
        p{
            font-size: 2rem;
            max-width: 500px;
            line-height: 42px;
        }
        ul{
            list-style-position: inside;
            list-style-type: none;
            font-size: 1.2rem;
            line-height: 2rem;
            padding: 15px 0px;
            
        }
        .button{
            color: white;
            max-width: 200px;
            line-height: 3rem;
            font-size: 1.2rem;
            padding-left: 30px;
            &:hover{
                .move{
                    transition: all 1s ease;
                    transform: translateX(10px);
                    opacity: 1;
                }
            }
        }
    }
}
.move{
    opacity: 0.5;
    padding-left: 5px;
}
.green{
    ul{
        li:before{
            content: '•';
            padding-right: 15px;
            color: $green;
        }
    }
    .button{
        background-color: $green;
    }
}
.blue{
    ul{
        li:before{
            content: '•';
            padding-right: 15px;
            color: $blue;
        }
    }
    .button{
        background-color: $blue;
    }
}
.violet{
    ul{
        li:before{
            content: '•';
            padding-right: 15px;
            color: $violet;
        }
    }
    .button{
        background-color: $violet;
    }
}
.orange{
    ul{
        li:before{
            content: '•';
            padding-right: 15px;
            color: $orange;
        }
    }
    .button{
        background-color: $orange;
    }
}
.graphs{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $textColor;
    h3{
        font-size: 2rem;
        font-weight: 300;
        margin: 20px;
    }
    .graphWrap{
        display: flex;
        text-align: center;
        p{
            margin: 15px auto;
            font-size: 1.2rem;
            max-width: 250px;
        }
        img{
            max-width: 600px;
        }
    }
}
.mapWrap{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    color: $textColor;
    .mapContent{
        padding: 50px 50px;
        ul{
            list-style-type: none;
            font-size: 1.2rem;
            line-height: 2rem;
        }
    }
    h3{
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 10px;
    }
    img{
        max-height: 800px;
    }
}
.opinions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $textColor;
    padding-bottom: 50px;
    h2{
        font-size: 3rem;
        font-weight: 300;
        margin: 20px;
    }
    .scrollerWrap{
        position: relative;
        overflow: hidden;
        width: 99vw;
        .leftHider{
            width: 500px;
            height: 100%;
            position: absolute;
            z-index: 100;
            left: 0px;
            top: 0px;
            background: -moz-linear-gradient(left, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
        }
        .arrowWrap{
            position: absolute;
            z-index: 100;
            width: 520px;
            height: 300px;
            top: 40%;
            left: 39%;
            color: $blue;
            font-size: 4rem;
            display: flex;
            justify-content: space-between;
            div:hover{
                cursor: pointer;
            }
        }
        .cardWrap{
            width: 5000px;
            display: flex;
            position: relative;
            left: -2250px;
          //  transition: all 1s ease;
            .card{
                width: 400px;
                height: 250px;
                margin: 50px;
                border: 1px solid $textColor;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
         //       transition: all 1s ease;
                img{
                    width: 100px;
                    height: 100px;
                }
                div{
                    padding-left: 15px;
                }
                h6{
                    font-size: 1rem;
                    font-weight: 900;
                    margin-bottom: 10px;
                }
                span{
                    margin-right: 10px;
                }
                p{
                    font-size: 0.7rem;
                }
            }
        }
        .rightHider{
            width: 500px;
            height: 100%;
            position: absolute;
            right: 0px;
            top:0px;
            z-index: 100;
            background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        }
    }
    a{
        padding: 20px 50px;
        margin: 20px;
        border: 1px solid $textColor;
        color: $textColor;
        &:hover{
            border: 1px solid #1e7cc3;
            color: #1e7cc3;
        }
        .marg{
            margin-left: 10px;
        }
    }
}
.transXLeft{
    transition: all 0.5s;
    transform: translateX(500px);
}
.transXRight{
    transition: all 0.5s;
    transform: translateX(-500px);
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #4b5053;
    color: $footerTextColor;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    h4{
        font-size: 0.8rem;
        font-weight: 900;
    }
    a{
        font-size: 0.7rem;
        color: $footerTextColor;
        text-decoration: underline;
    }
    p{
        max-width: 300px;
        font-size: 0.7rem;
        margin-top: 10px;

    }
    h5{
        font-size: 1.2rem;
        font-weight: 300;
        margin-bottom: 20px;
    }
    ul{
        list-style-position: inside;
        font-size: 0.7rem;
        li{
            padding-bottom: 10px;
        }
    }
    .hotline{
        a{
            font-size: 1.5rem;
            color: white;
        }
    }
    div{
        .menuFooter {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            max-width: 400px;
            font-size: 0.8rem;
            margin-top: 10px;
            li{
                padding-bottom: 0px;
                padding-left: 5px;
                padding-right: 5px;
                border-right: 1px solid $footerTextColor;
                &:last-of-type{
                    border-right: none;
                }
            }
        }
    }
}
.colorG{
    color: $footerTextColor;
}